body{
    background-color: black;
    margin-left:  35px;
    margin-right: 35px;
}
.container{
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    margin-top: 15px;
}
.image-cell img.circular {
    width: 75px;
    height: 75px;
    object-fit: cover;
border-radius: 75%;
}

